.sliderimg {
  width: 100%;
  height: 580px;
}
h1 {
  margin-left: 43%;
  margin-top: 50px;
  font-family: "Sansita Swashed";
  font-weight: bolder;
}
h4 {
  display: inline;
  font-family: "Merriweather", serif;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 22px;
  font-weight: 500;
  color: grey;
  line-height: 34px;
  margin-top: 20px;
}
hr {
  border: 3px solid #546c97;
  border-radius: 5px;
  width: 650px;
}
.over {
  position: center;
  height: 800px;
  background: #f0f2f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000c40,
    #f0f2f0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000c40,
    #f0f2f0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card {
  margin-top: 100px;
  margin-bottom: 50px;
  float: left;
  width: 20%;
  margin-left: 400px;
  position: center;
}

@media only screen and (max-width: 1280px) {
  .sliderimg {
    width: 100%;
    height: 280px;
  }
  .about {
    font-size: 12px;
  }
  h1 {
    font-size: 30px;
    margin-left: 110px;
  }
  h4{
    font-size:12px;
    text-align: center;
    margin-left: -5px;
  }
  .over {
    height: 1100px;
  }
  .card {
    float: left;
    width: 90%;
    margin-left: 15px;
  }
}
